html, body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* Футер */
footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 0.75rem 0;
    margin-top: auto;
}